<html >

<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

  
</head>

<body>
 <div class="login">
	<h1>Vehicle Insurance Prediction</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
      <input type="text" name="Gender" placeholder="Gender" required="required" /><br>
    	<input type="text" name="Age" placeholder="Age" required="required" /><br>
        <input type="text" name="Driving_License" placeholder="Driving_License" required="required" /><br>
        <input type="text" name="Region_Code" placeholder="Region_Code" required="required" /><br>
        <input type="text" name="Previously_Insured" placeholder="Previously_Insured" required="required" /><br>
        <input type="text" name="Vehicle_Damage" placeholder="Vehicle_Damage" required="required" /><br>
        <input type="text" name="Annual_Premium" placeholder="Annual_Premium" required="required" /><br>
        <input type="text" name="Policy_Sales_Channel" placeholder="Policy_Sales_Channel" required="required" /><br>
        <input type="text" name="Vintage" placeholder="Vintage" required="required" /><br>
        <input type="text" name="Age_< 1 Year" placeholder="Age_< 1 Year" required="required" /><br>
        <input type="text" name="Age_> 2 Years" placeholder="Age_> 2 Years" required="required" /><br>
        

       

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
  
   
 </div>
 {{prediction_text}}

</body>
</html>